* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  min-width: 400px;
  /*  height: 100vh;*/
  max-height: 100vh;
  font-family: arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 20px;
}

div-body {
  display: flex;
  flex-direction: column;
}

div-main {
  flex-grow: 1;
  flex-shrink: 0;
}

.div-header {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*  justify-content: center;*/
  background-color: white;
  height: 100%;
  width: 100%;
  gap: 30px;
}

header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dadce0;
  height: 137px;
}

.headermain {
  display: flex;
  flex-direction: row;
  gap: 18px;
  height: 90px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: space-between;
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  margin-right: 10px;
  position: relative;
  flex-shrink: 0;
}

.leftheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.rightheader {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav {
  width: 850px;
  padding-left: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  color: rgba(0, 0, 0, 0.54);
}

.nav a {
  font-size: 14px;
  font-family: Google Sans, arial, sans-serif;
  color: #5f6368;
  padding: 10px 4px;
}

.nav a:hover {
  text-decoration: none;
  cursor: pointer;
}

.active {
  border-bottom: solid 3px #2b7de9;
}

#linkcolor {
  color: #2b7de9 !important;
}

.fa-gradient {
  background: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 0, 1),
      rgba(255, 255, 0, 0) 55%
    ),
    -webkit-linear-gradient(135deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0) 55%),
    -webkit-linear-gradient(225deg, rgba(51, 204, 51, 1), rgba(51, 204, 51, 0)
          55%),
    -webkit-linear-gradient(315deg, rgba(255, 51, 0, 1), rgba(255, 51, 0, 0) 55%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

svg.sixdots {
  width: 25px;
  margin: 7px;
  /*padding-top: 8px;
  paddding-left: 5px;*/
}
svg.sixdots > path {
  fill: #5f6368;
}

button#signin {
  width: 96px;
  background-color: #2b7de9;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

button#signin:hover {
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

header a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

header a:hover {
  text-decoration: underline;
}

.moreoptions {
  height: 40px;
  width: 40px;
  outline: none;
  align-content: center;
}
.moreoptions:hover {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  outline: none;
}

.searchbox {
  height: 44px;
  width: 700px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  background: white;
  display: flex;
  flex-grow: row;
  flex-basis: 0;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

input[type="search"] {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.close-icon {
  background-color: white;
  border: none;
  width: 5px;
  padding: 0;
}

.close-icon:after {
  content: "X";
  color: #80868b;
}

button.close-icon:hover {
  background-color: white;
  border: none;
  cursor: pointer;
}

.searchbox:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo > img {
  height: 30px;
}

svg.lupa {
  width: 35px;
  padding-left: 10px;
  margin-left: 0px;
  padding-top: 2px;
  margin-top: 6px;
  border-left: 1px solid #dadce0;
}

svg.lupa > path {
  fill: #2b7de9;
}

.inputsearch {
  border: none;
  box-shadow: none;
  height: 41px;
  margin-left: 20px;
  width: 82%;
}

.inputsearch:focus {
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  align-items: center;
  justify-items: center;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}

button:hover {
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

/* Este element preenche o resto do espaço, mas para que isso aconteça é preciso que os outros objectos tenham altura definida. e no caso do logo, margin-top auto fez com que a imagem descesse para baixo*/
#languages {
  font-size: 13px;
  flex-grow: 1;
}
#languages > p {
  text-align: center;
}

footer {
  background-color: rgb(242, 242, 242);
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
  margin-top: 50px;
}

.centercontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
  gap: 25px;
  flex-shrink: 0;
}

#country {
  border-bottom: 1px solid #dadce0;
  font-size: 14px;
  padding: 2px 30px 2px 30px;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 30px 12px 30px;
}

#info a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

#info a:hover {
  text-decoration: underline;
}

#infoleft {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 30px;
}

#inforight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 30px;
}

.anotherone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  max-heigth: 160px;
}

main {
  width: 650px;
  margin-left: 164px;
  margin-top: 0px;
  padding-top: 0px;
  font-family: arial, sans-serif;
}
.timetoresults {
  color: #5f6368;
  font-size: 14px;
  font-family: Google Sans, arial, sans-serif;
  margin-top: 0px;
  padding-top: 0px;
}

/*estas aqui */
.resultlink {
  margin-top: 10px;
  margin-bottom: 0px;
}
.resultlink a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  font-size: 14px;
}

.resultlink a::after {
  color: rgba(0, 0, 0, 0.54);
  content: "▼";
}
.sublink {
  color: rgba(0, 0, 0, 0.54);
}

article > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 > a {
  text-decoration: none;
  color: #1a0dab;
  font-family: arial, sans-serif;
  font-weight: normal;
}

h2 + p {
  font-size: 14px;
  font-family: arial, sans-serif;
  font-weight: normal;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.65);
}

/* responsive */
@media (max-width: 430px) {
  .searchbox {
    width: 80vw;
  }
  .inputsearch {
    width: 70%;
  }
  #info {
    justify-content: space-around;
  }
  #infoleft {
    flex-direction: column;
    justify-content: center;
    gap: 3px;
  }
  #inforight {
    flex-direction: column;
    justify-content: center;
  }
  header {
    align-self: center;
  }
  #logo > img {
    height: 70px;
  }
  body,
  html {
    min-width: 100vw;
  }
}
